body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px !important;
}

a {
  color: #FFF !important;
}

button {
  background: #3456FA !important;
  border: none !important;
  border-radius: 0 !important;
  transition: 0.5s ease-in-out;
}

button:hover {
  color: #3456FA !important;
  background: #FFF !important;
  border: none !important;
  border-radius: 0;
  cursor: pointer;
}

input, select {
  border-radius: 0 !important;
  border: none !important;
  height: 38px;
}

